/* Comic Font from Google Font */
@import url(https://fonts.googleapis.com/css?family=Bangers);

* {
  box-sizing: border-box;
  text-align: center;
}

/* Top Margin */
#nameRow {
  margin-top: 40px;
}

/* Character Name Styling */
#characterName{
    height: 70px;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    border-color: grey;
    color: white;
    transform: rotate(2deg);
    margin:15px;
    padding:0 5px;
    background:#ddd;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
    margin: 0 auto;
    margin-top: 30px;
    
}

  /* Character's Detail styling */
  #characterDetails{
    margin-top:10px ;
    padding:0 5px;
    background:white;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    
  }

.d-block{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

  /* character image holder styling */
  #characterimage{
    height: 500px;
    width: 400px;
    border: solid;

  }

   /* site header styling */
  #logo{
    float: left;
    height: 200px;
    width: auto;
    margin-right: 20px;
    margin-top: 20px;
  
  }
  /* Background image and font styling for the body  */
body{
    background-image: url("background/bg3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Bangers', cursive;
    font-size: 25px;
}
aside {
  margin: 25px;
  width: 250px;
  height: 600px;
  background: #fff;
  border: solid black;
  border-color: black;
  float: left;
}
/* character details holder styling */

#myModal {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

#myModal p{
  font-size: 2rem;
}

#myModal button{
  border: 1px solid black;
  border-radius: 5px;
  background: red;
  color: white;
  box-shadow: 2px 2px black;
}

#myModal button:active{
  box-shadow: 2px 2px black inset;
}



/* character image from api call styling */
#image {
  height: 400px;
  width: 500px;
  margin-top: 30px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* <p> styling from api call for Character details */
p {
  font-size: 12pt;
}

.m{
  float: left;
}

/* footer styling */

footer {
  height: 60px;
  line-height: 60px;
  background-color: #ff000057;
  font-family: "Bangers", cursive;
  margin-top: 50px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { 
  #logo{
  width: 20%;
  height: 20%;
  }

  #characterDetails{
  width: 100%;
  }

  /* character image holder styling */
  #characterImage {
    height: 100%;
    width: 100%;
    float: right;  
  } 

  #image {
    height: auto;
    width: 100%;
    float: left;
  }
}
